*{
    margin:0;
    padding:0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #192f52;
    color:#fff;
}
#header{  /*cuz id*/
    width: 100%;
    height: 100vh;
    background-image: url(images/tempBackground.jpg);
    background-size: cover;
    background-position: center ;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex; /*to have side by side*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: flat;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; /*10 pixels top and  buttom, 20 left and right*/
}

nav ul li a{
    color: #fff;
    text-decoration:none ;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{ /*line under menu items*/
    content: '';
    width: 0;
    height: 3px;
    background:#0084ff ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text span{
    color: #0084ff;
}